body {

    color:white;
    background-color: black ;
    margin: 0px;
    font-family: "Playfair Display", serif;
    margin-bottom: 50px;
}

header {

    border-bottom: solid 1px rgb(139,0,0);
    padding: 20px;
    font-size: 32px;

}

.chamada {
    background: rgb(139,0,0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right:  5%;
}

h1 { 
    font-size: 30px;
}

p{
    font-size: 15px;
}

img {
    height:200px

}

.categoria-videos {

    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}


.categoria-videos img {
    opacity 0.3;
}

.categoria-videos img:hover {
    opacity 1.0;
}

.categoria h2 {
    color: rgb(139,0,0);
}